@model ControllerTask.Models.SomeData
@{
    ViewBag.Title = "SomeData";
}

<h2>@Model.ControllerName</h2>
<h3>@Model.ActionName</h3>

<ul>
    <li>Light blue buttons - CustomerController</li>
    <li>Blue buttons - HomeController</li>
    <li>Red buttons - BaseController</li>
</ul>

